In [35]:
import pandas as pd 
import numpy as  np 

data = {'user_id' :[1,1,2,2,3,3,4,1],
        'actions'    :['start','cancel','start',
                    'publish','start','cancel',
                    'start','publish'],
        'action_date'   :['12-FEB-20',
                    '13-FEB-20',
                    '11-FEB-20',
                    '14-FEB-20',
                    '15-FEB-20',
                    '15-FEB-20',
                    '18-FEB-20',
                    '19-FEB-20']
        }

users = pd.DataFrame(data)
users

   user_id  actions action_date
0        1    start   12-FEB-20
1        1   cancel   13-FEB-20
2        2    start   11-FEB-20
3        2  publish   14-FEB-20
4        3    start   15-FEB-20
5        3   cancel   15-FEB-20
6        4    start   18-FEB-20
7        1  publish   19-FEB-20

In [36]:
users['action_date'] = pd.to_datetime(users['action_date'])
users['ranks'] = users.groupby('user_id')['action_date'].rank(method = 'first', ascending = False)
users

   user_id  actions action_date  ranks
0        1    start  2020-02-12    3.0
1        1   cancel  2020-02-13    2.0
2        2    start  2020-02-11    2.0
3        2  publish  2020-02-14    1.0
4        3    start  2020-02-15    1.0
5        3   cancel  2020-02-15    2.0
6        4    start  2020-02-18    1.0
7        1  publish  2020-02-19    1.0

In [37]:
last_action = users[users.ranks == 1][['user_id','action_date']]
last_action.rename(columns = {'action_date':'last_action_date'}, inplace = True)
last_action

   user_id last_action_date
3        2       2020-02-14
4        3       2020-02-15
6        4       2020-02-18
7        1       2020-02-19

In [38]:
second_last_action = users[users.ranks == 2][['user_id','action_date']]
second_last_action.rename(columns = {'action_date':'second_last_action_date'}, inplace = True)
second_last_action

   user_id second_last_action_date
1        1              2020-02-13
2        2              2020-02-11
5        3              2020-02-15

In [39]:
elapsed_days = pd.merge(last_action, second_last_action, on = 'user_id', how = 'left').sort_values(by = 'user_id')
elapsed_days.reset_index(inplace = True)
elapsed_days

   index  user_id last_action_date second_last_action_date
0      3        1       2020-02-19              2020-02-13
1      0        2       2020-02-14              2020-02-11
2      1        3       2020-02-15              2020-02-15
3      2        4       2020-02-18                     NaT

In [40]:
elapsed_days['elapsed_days'] = elapsed_days['last_action_date'] - elapsed_days['second_last_action_date']
elapsed_days[['user_id','elapsed_days']]

   user_id elapsed_days
0        1       6 days
1        2       3 days
2        3       0 days
3        4          NaT