In [44]:
import pandas as pd 
import numpy as  np 

data = {'user_id'          :[1,2,1,3,1,2,4,3],
        'product_id'       :[101,105,111,121,101,105,101,105],
        #'actions'    :['start','cancel','start',
                   # 'publish','start','cancel',
                    #'start','publish'],
        'transaction_date' : ['12-FEB-20',
                              '13-FEB-20',
                              '14-FEB-20',
                              '15-FEB-20',
                              '16-FEB-20',
                              '17-FEB-20',
                              '16-FEB-20',
                              '15-FEB-20']
        }

users = pd.DataFrame(data)
users

   user_id  product_id transaction_date
0        1         101        12-FEB-20
1        2         105        13-FEB-20
2        1         111        14-FEB-20
3        3         121        15-FEB-20
4        1         101        16-FEB-20
5        2         105        17-FEB-20
6        4         101        16-FEB-20
7        3         105        15-FEB-20

In [45]:
users['transaction_date'] = pd.to_datetime(users['transaction_date'])
users['ranks'] = users.groupby('user_id')['transaction_date'].rank(method = 'first')
users

   user_id  product_id transaction_date  ranks
0        1         101       2020-02-12    1.0
1        2         105       2020-02-13    1.0
2        1         111       2020-02-14    2.0
3        3         121       2020-02-15    1.0
4        1         101       2020-02-16    3.0
5        2         105       2020-02-17    2.0
6        4         101       2020-02-16    1.0
7        3         105       2020-02-15    2.0

In [67]:
# Identifying distinctive users
distinct = pd.DataFrame(users['user_id'].unique())
distinct.rename(columns = {0:'user_id'}, inplace = True)
distinct

   user_id
0        1
1        2
2        3
3        4

In [70]:
supers = users[users.ranks == 2.0][['user_id','transaction_date']]
supers

   user_id transaction_date
2        1       2020-02-14
5        2       2020-02-17
7        3       2020-02-15

In [72]:
pd.merge(distinct, supers, on = 'user_id', how = 'left').sort_values(by = 'transaction_date')

   user_id transaction_date
0        1       2020-02-14
2        3       2020-02-15
1        2       2020-02-17
3        4              NaT