In [3]:
import pandas as pd 
import numpy  as np

data1 = {'user_id' : [1,1,1,2,3,3,4,4],
         'friend'  : [2,3,4,1,1,4,1,3]
        }

data2 = {'user_id'    : [1,1,1,2,3,3,4],
         'page_likes' : ['A','B','C','A','B','C','B']
        }

friends = pd.DataFrame(data1)
likes   = pd.DataFrame(data2)

In [4]:
friends

   user_id  friend
0        1       2
1        1       3
2        1       4
3        2       1
4        3       1
5        3       4
6        4       1
7        4       3

In [7]:
likes['page_friend_likes'] = likes['page_likes']
likes

   user_id page_likes page_friend_likes
0        1          A                 A
1        1          B                 B
2        1          C                 C
3        2          A                 A
4        3          B                 B
5        3          C                 C
6        4          B                 B

In [9]:
friend_likes = likes[['user_id','page_friend_likes']].copy()
friend_likes.rename(columns = {'user_id':'friend'}, inplace = True)
friend_likes

   friend page_friend_likes
0       1                 A
1       1                 B
2       1                 C
3       2                 A
4       3                 B
5       3                 C
6       4                 B

In [12]:
tallies = pd.merge(friends, friend_likes, on = 'friend', how = 'inner')
tallies

    user_id  friend page_friend_likes
0         1       2                 A
1         1       3                 B
2         1       3                 C
3         4       3                 B
4         4       3                 C
5         1       4                 B
6         3       4                 B
7         2       1                 A
8         2       1                 B
9         2       1                 C
10        3       1                 A
11        3       1                 B
12        3       1                 C
13        4       1                 A
14        4       1                 B
15        4       1                 C

In [16]:
i = ['user_id','page_friend_likes']
tallies.set_index(i)
likes.set_index(i)
tallies = pd.merge(tallies, likes, how = 'left')
tallies

    user_id  friend page_friend_likes page_likes
0         1       2                 A          A
1         1       3                 B          B
2         1       3                 C          C
3         4       3                 B          B
4         4       3                 C        NaN
5         1       4                 B          B
6         3       4                 B          B
7         2       1                 A          A
8         2       1                 B        NaN
9         2       1                 C        NaN
10        3       1                 A        NaN
11        3       1                 B          B
12        3       1                 C          C
13        4       1                 A        NaN
14        4       1                 B          B
15        4       1                 C        NaN

In [21]:
recommendations = tallies[tallies.page_likes.isnull()][i].copy()
recommendations.rename(columns = {'page_friend_likes':'recommended_page'}, inplace = True)
recommendations.drop_duplicates().sort_values(by = 'user_id')

    user_id recommended_page
8         2                B
9         2                C
10        3                A
4         4                C
13        4                A