In [98]:
import pandas as pd 
import numpy  as np 

data = {'id'    : [1,2,3,4,5,6],
        'score' : [3.5,3.65,4.0,3.85,4.0,3.65]
        }

scores = pd.DataFrame(data)

In [99]:
scores

   id  score
0   1   3.50
1   2   3.65
2   3   4.00
3   4   3.85
4   5   4.00
5   6   3.65

In [100]:
s = scores.drop_duplicates('score').sort_values(by = 'score', ascending = False).copy()
s.reset_index(inplace = True)
s = s['score'].copy()
s

0    4.00
1    3.85
2    3.65
3    3.50
Name: score, dtype: float64

In [101]:
gauge = []
rows  = [v for v in s]
for i in rows:
    n = pd.Index(s).get_loc(i) + 1
    gauge.append(n)

In [102]:
gauge = pd.DataFrame(gauge)
s     = pd.DataFrame(s)
ranks = pd.concat([s, gauge], axis = 1)
ranks.rename(columns = {0:'rank_score'}, inplace = True)

In [103]:
ranks

   score  rank_score
0   4.00           1
1   3.85           2
2   3.65           3
3   3.50           4

In [104]:
ranks = pd.merge(scores, ranks, on = 'score')
ranks[['id','rank_score']].sort_values(by = 'rank_score')

   id  rank_score
3   3           1
4   5           1
5   4           2
1   2           3
2   6           3
0   1           4