In [20]:
import pandas as pd 
import numpy  as np 

data = {'id'        : [1,2,3,4,5,6,7,8,9],
        'city'      : ['Asheville','Burlington','Chapel Hill','Davidson','Elizabeth City','Fargo',
                       'Grand Forks','Hettinger','Inkster'],
        'states'    : ['North Carolina','North Carolina','North Carolina','North Carolina','North Carolina',
                       'North Dakota','North Dakota','North Dakota','North Dakota'],
        'latitude'  : [35.6,36.1,35.9,35.5,36.3,46.9,47.9,46,48.2],
        'longitude' : [82.6,79.4,79.1,80.8,76.3,96.8,97,102.6,97.6]
        }

stations = pd.DataFrame(data)

In [21]:
stations

   id            city          states  latitude  longitude
0   1       Asheville  North Carolina      35.6       82.6
1   2      Burlington  North Carolina      36.1       79.4
2   3     Chapel Hill  North Carolina      35.9       79.1
3   4        Davidson  North Carolina      35.5       80.8
4   5  Elizabeth City  North Carolina      36.3       76.3
5   6           Fargo    North Dakota      46.9       96.8
6   7     Grand Forks    North Dakota      47.9       97.0
7   8       Hettinger    North Dakota      46.0      102.6
8   9         Inkster    North Dakota      48.2       97.6

In [25]:
MedianByStates = pd.DataFrame(stations.groupby('states')['latitude'].median())

In [26]:
MedianByStates

                latitude
states
North Carolina      35.9
North Dakota        47.4