In [1]:
import pandas as pd 
import numpy  as np

data1 = {'order_id'    : [1,1,1,2,2,2,3],
        'customer_id' : [1,1,1,2,2,2,1],
        'product_id'  : [1,2,3,1,2,4,5]
        }

data2 = {'id'   : [1,2,3,4,5],
         'name' : ['A','B','C','D','E']
        }

orders   = pd.DataFrame(data1)
products = pd.DataFrame(data2)

In [2]:
orders

   order_id  customer_id  product_id
0         1            1           1
1         1            1           2
2         1            1           3
3         2            2           1
4         2            2           2
5         2            2           4
6         3            1           5

In [3]:
products

   id name
0   1    A
1   2    B
2   3    C
3   4    D
4   5    E

In [45]:
orders1 = orders[['order_id','product_id']].copy()
orders2 = orders[['order_id','product_id']].copy()

In [46]:
df = pd.merge(orders1, orders2, on = 'order_id', how = 'inner')

In [48]:
df = df[df.product_id_x < df.product_id_y]

In [49]:
df

    order_id  product_id_x  product_id_y
1          1             1             2
2          1             1             3
5          1             2             3
10         2             1             2
11         2             1             4
14         2             2             4

In [50]:
df1 = products.copy()
df1.rename(columns = {'id':'product_id_x'}, inplace = True)
df = pd.merge(df, df1, on = 'product_id_x', how = 'left')

In [51]:
df.rename(columns = {'name':'name_x'}, inplace  = True)
df

   order_id  product_id_x  product_id_y name_x
0         1             1             2      A
1         1             1             3      A
2         1             2             3      B
3         2             1             2      A
4         2             1             4      A
5         2             2             4      B

In [52]:
df1.rename(columns = {'product_id_x':'product_id_y'}, inplace = True)
df = pd.merge(df, df1, on = 'product_id_y', how = 'left')

In [53]:
df.rename(columns = {'name':'name_y'}, inplace = True)

In [54]:
df

   order_id  product_id_x  product_id_y name_x name_y
0         1             1             2      A      B
1         1             1             3      A      C
2         1             2             3      B      C
3         2             1             2      A      B
4         2             1             4      A      D
5         2             2             4      B      D

In [55]:
df['pairs'] = df['name_x'].str.cat(df['name_y'])

In [56]:
df = df[['order_id','pairs']]
df

   order_id pairs
0         1    AB
1         1    AC
2         1    BC
3         2    AB
4         2    AD
5         2    BD

In [58]:
df = pd.DataFrame(df.groupby('pairs').size())

In [63]:
df.rename(columns = {0:'frequency'}, inplace = True)
df.sort_values(by = 'frequency', ascending = False)

       frequency
pairs
AB             2
AC             1
AD             1
BC             1
BD             1

In [64]:
df.head(n = 3)

       frequency
pairs
AB             2
AC             1
AD             1